includes:
    - ./vendor/nunomaduro/larastan/extension.neon
parameters:
    paths:
        - app
        - database
        - routes
    level: 6
    ignoreErrors:
    excludePaths:
    checkGenericClassInNonGenericObjectType: false
